.container
  margin: 0 auto
  padding: 0  
  background-color: white
  border: 1px solid black

  .information
    padding: 50px 120px
    margin: 0

  .main-items
    text-align: center
    padding: 40px 0 70px
    margin: 0
    background-color: #f4f4f4

    p
      text-align: left
      color: #555555
      margin-bottom: 40px

    .item-header
      margin: 40px auto 20px
      font-size: 28px
      font-weight: 700      

      img
        height: 40px
        width: 40px
        margin-right: 10px
  .news
    background-color: #e6e6e6
    margin: 0 10px
    padding: 45px 40px

    .row
      padding-left: 0
      padding-right: 0

      .container-fluid
        padding: 0
        border: 1px solid black

  footer
    text-align: center
    margin: 60px auto

    .menu
      margin-bottom: 35px
    
    hr
      width: 80%
      margin: 10px auto

    .copyright
      margin: 10px 0
      color: #555555  



 

