<!DOCTYPE html>
html(lang="en")
  head
    title uRoomer
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
    link(rel="stylesheet", href="vendors/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="assets/css/main.css")
  body
    .container
      nav.navbar.navbar-inverse.navbar-fixed-top      
        .navbar-header
          button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand", href="#"): img(src="assets/img/logo.png", alt="...")

        .navbar-collapse.collapse(id="navbar")      
          ul.nav.navbar-nav
            li: a(href="#") Create
            li: a(href="#") Design
            li: a(href="#") Render
            li: a(href="#") Contact
            li
              a(class="language", href="#")
                img(src="assets/img/ru_flag.png", alt="...")
                span Ru
              span |  
              a(class="language", href="#")
                img(src="assets/img/eng_flag.png", alt="...")
                span Eng

    
      #photoCarousel.carousel.slide(data-ride="carousel")
        .carousel-inner(role="listbox")
          .item.active
            img(src="assets/img/slide.jpg", title="slide1")
          .item
            img(src="assets/img/slide.jpg", title="slide2")
          .item
            img(src="assets/img/slide.jpg", title="slide3")          

        .slider-title: p.heading Lorem ipsum dolor sit amet.

      .information.row
        p uRoomer can easily import almost every your 3D model and use it as uRoomer can easily import almost every your 3D model and use it as s uRoomer can easily import almost every your 3D model and use it as s uRoomer can easily import almost every your 3D model and use it as s uRoomer can.  

      .main-items.row        
        .col-xs-12.col-md-4
          img(src="assets/img/create.png", alt="...")
          .item-header
            span: img(src="assets/img/uRoomer_create.png", alt="...")
            span Create
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          hr
          a(class="learn-more", href="#") Learn more >

        .col-xs-12.col-md-4
          img(src="assets/img/design.png", alt="...")
          .item-header
            span: img(src="assets/img/uRoomer_design.png", alt="...")
            span Design
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          hr
          a(class="learn-more", href="#") Learn more >

        .col-xs-12.col-md-4
          img(src="assets/img/render.png", alt="...")
          .item-header
            span: img(src="assets/img/uRoomer_render.png", alt="...")
            span Render
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          hr
          a(class="learn-more", href="#") Learn more >

      .news.row
        .col-sm-12.col-md-6
          .media
            a.pull-left
              img(class="media-object", src="assets/img/news_1.png", alt="...")
            .media-body
              p You can watch 3D panorams now.
              a(class="learn-more", href="#") Learn more
        
        .col-sm-12.col-md-6    
          .media
            a.pull-left
              img(class="media-object", src="assets/img/news_1.png", alt="...")
            .media-body
              p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              a(class="learn-more", href="#") Learn more >          

      footer.container-fluid
        .row.menu
          .col-xs-12.col-md-2
            a(href="#") Home
          .col-xs-12.col-md-2
            a(href="#") Create
          .col-xs-12.col-md-2
            a(href="#") Design             
          .col-xs-12.col-md-2
            a(href="#") Render            
          .col-xs-12.col-md-2
            a(href="#") Contact
        hr
        .row.copyright
          p 2016 &copy; All right reserved



    script(src="./vendors/jquery/dist/jquery.min.js")
    script(src="./vendors/bootstrap/dist/js/bootstrap.min.js")
    script(src="./assets/js/app.js")