@media (min-width: 1024px) 
  nav
    height: 85px    
    margin: 0 auto
    width: 1040px
    background-color: #333333  
    font-size: 19px
    font-weight: 700
    color: white  

    .navbar-nav li
      a
        font-size: 18px        
        color: white        
        padding: 32px 55px

        &:hover,
        &:focus
          color: darken(#fff, 20%)
          text-decoration: none

       
      a.language
        display: inline-block
        padding: 32px 10px

        img
          margin-right: 10px     
   
    
    a.navbar-brand
      img
        height: 45px
        width: auto

@media (max-width: 1023px)
  a.navbar-brand
        img
          height: 25px
          width: auto 